In [13]:
import pandas as pd
import numpy as np

from display_config import enable_clean_display
from db_connector import fetch_data

In [14]:
enable_clean_display() # configures Pandas and Jupyter output display

In [20]:
df = fetch_data('SELECT * FROM sales.salesorderdetail')
print(df.head(7))  # use print to get the desired output format

   salesorderid  salesorderdetailid carriertrackingnumber  orderqty  productid  specialofferid  unitprice  unitpricediscount                               rowguid modifieddate  linetotal
0         43659                   1          4911-403C-98         1        776               1   2024.994                0.0  b207c96d-d9e6-402b-8470-2cc176c42283   2011-05-31   2024.994
1         43659                   2          4911-403C-98         3        777               1   2024.994                0.0  7abb600d-1e77-41be-9fe5-b9142cfc08fa   2011-05-31   6074.982
2         43659                   3          4911-403C-98         1        778               1   2024.994                0.0  475cf8c6-49f6-486e-b0ad-afc6a50cdd2f   2011-05-31   2024.994
3         43659                   4          4911-403C-98         1        771               1   2039.994                0.0  04c4de91-5815-45d6-8670-f462719fbce3   2011-05-31   2039.994
4         43659                   5          4911-403C-98         1        772               1   2039.994                0.0  5a74c7d2-e641-438e-a7ac-37bf23280301   2011-05-31   2039.994
5         43659                   6          4911-403C-98         2        773               1   2039.994                0.0  ce472532-a4c0-45ba-816e-eefd3fd848b3   2011-05-31   4079.988
6         43659                   7          4911-403C-98         1        774               1   2039.994                0.0  80667840-f962-4ee3-96e0-aeca108e0d4f   2011-05-31   2039.994