In [473]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from display_config import enable_clean_display
from db_connector import fetch_data

In [474]:
enable_clean_display()  # configures horizontal scrolling for wide DataFrames -- wasn't happening through built-in options

Sales tables, geographical data, and UOM names are in separate schemas, and cross-schema joins are not allowed in PostgreSQL.</br>
So read queries on each schema into their own DataFrames, then merge.

In [475]:
sales_df = fetch_data('''
    SELECT
        il.invoice_line_id,
        il.invoice_id,
        il.stock_item_id,
        il.quantity,
        il.package_type_id,
        il.unit_price,
        il.extended_price,
        o.order_date,
        o.expected_delivery_date,
        i.confirmed_delivery_time,
        c.delivery_city_id
    FROM sales.invoice_lines il
        INNER JOIN sales.invoices i
            ON il.invoice_id = i.invoice_id
        INNER JOIN sales.orders o
            ON i.order_id = o.order_id
        INNER JOIN sales.customers c
            ON o.customer_id = c.customer_id;
''')

print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228265 entries, 0 to 228264
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   invoice_line_id          228265 non-null  int64
 1   invoice_id               228265 non-null  int64
 2   stock_item_id            228265 non-null  int64
 3   quantity                 228265 non-null  int64
 4   package_type_id          228265 non-null  int64
 5   unit_price               228265 non-null  float64
 6   extended_price           228265 non-null  float64
 7   order_date               228265 non-null  object
 8   expected_delivery_date   228265 non-null  object
 9   confirmed_delivery_time  227981 non-null  datetime64[ns]
 10  delivery_city_id         228265 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(2)
memory usage: 19.2+ MB
None

In [476]:
geo_df = fetch_data('''
    SELECT
        c.city_id,
        c.city_name,
        sp.state_province_code,
        sp.state_province_name,
        sp.sales_territory
    FROM application.cities c
        JOIN application.state_provinces sp
            ON c.state_province_id = sp.state_province_id;
''').rename(columns={
    'state_province_code': 'state_code',
    'state_province_name': 'state_name'
})

print(geo_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37940 entries, 0 to 37939
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city_id          37940 non-null  int64
 1   city_name        37940 non-null  object
 2   state_code       37940 non-null  object
 3   state_name       37940 non-null  object
 4   sales_territory  37940 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.4+ MB
None

In [477]:
uom_df = fetch_data('''
    SELECT
        package_type_id,
        package_type_name
    FROM warehouse.package_types;
''')

print(uom_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   package_type_id    14 non-null     int64
 1   package_type_name  14 non-null     object
dtypes: int64(1), object(1)
memory usage: 356.0+ bytes
None

In [478]:
# The join columns between all 3 tables are the same dtype (int64), so proceed with the merge
df = (pd.merge(sales_df, geo_df, 
    left_on='delivery_city_id',
    right_on='city_id',
    how='inner')
    .drop(columns=['city_id'])
)

df = (pd.merge(df, uom_df,
    left_on='package_type_id',
    right_on='package_type_id',
    how='inner')
)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228265 entries, 0 to 228264
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   invoice_line_id          228265 non-null  int64
 1   invoice_id               228265 non-null  int64
 2   stock_item_id            228265 non-null  int64
 3   quantity                 228265 non-null  int64
 4   package_type_id          228265 non-null  int64
 5   unit_price               228265 non-null  float64
 6   extended_price           228265 non-null  float64
 7   order_date               228265 non-null  object
 8   expected_delivery_date   228265 non-null  object
 9   confirmed_delivery_time  227981 non-null  datetime64[ns]
 10  delivery_city_id         228265 non-null  int64
 11  city_name                228265 non-null  object
 12  state_code               228265 non-null  object
 13  state_name               228265 non-null  object
 14  sales_territory          228265 non-null  object
 15  package_type_name        228265 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(7)
memory usage: 27.9+ MB
None

</br>Convert column dtypes where needed:
</br> * All dates and date-times should be 'datetime64'. Opt to use pd.to_datetime() to avoid errors.
</br> * All ID columns should be Pandas 'Int64'.
</br> * All monetary amounts should be 'float64'.
</br> * Suitable categorical columns should be 'category'.
</br>
</br>Set index to the GUID, 'invoice_line_id'.

In [479]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['expected_delivery_date'] = pd.to_datetime(df['expected_delivery_date'])

dtype_dict = {
    'invoice_line_id': 'Int64',
    'invoice_id': 'Int64',
    'stock_item_id': 'Int64',
    'quantity': 'Int64',
    'package_type_id': 'Int64',
    'delivery_city_id': 'Int64',
    'city_name': 'category',
    'state_code': 'category',
    'state_name': 'category',
    'sales_territory': 'category',
    'package_type_name': 'category'
}

df = df.astype(dtype_dict).set_index('invoice_line_id')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228265 entries, 1 to 228265
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   invoice_id               228265 non-null  Int64
 1   stock_item_id            228265 non-null  Int64
 2   quantity                 228265 non-null  Int64
 3   package_type_id          228265 non-null  Int64
 4   unit_price               228265 non-null  float64
 5   extended_price           228265 non-null  float64
 6   order_date               228265 non-null  datetime64[ns]
 7   expected_delivery_date   228265 non-null  datetime64[ns]
 8   confirmed_delivery_time  227981 non-null  datetime64[ns]
 9   delivery_city_id         228265 non-null  Int64
 10  city_name                228265 non-null  category
 11  state_code               228265 non-null  category
 12  state_name               228265 non-null  category
 13  sales_territory          228265 non-null  category
 14  package_type_name        228265 non-null  category
dtypes: Int64(5), category(5), datetime64[ns](3), float64(2)
memory usage: 21.8 MB

In [480]:
# Inspect the package_type_name column -- my best option for UOM values
print(df['package_type_name'].unique())

['Each', 'Packet', 'Pair', 'Bag']
Categories (4, object): ['Bag', 'Each', 'Packet', 'Pair']

</br>The 'package_type_name' column was the best available option for a UOM column.
</br>But for this analysis it would be purely descriptive, since all values indicate unit-level UOMs.
</br>I will treat all items as individual units, suitable for aggregation.

In [481]:
# Check for missing values
df.isna().sum()

invoice_id                   0
stock_item_id                0
quantity                     0
package_type_id              0
unit_price                   0
extended_price               0
order_date                   0
expected_delivery_date       0
confirmed_delivery_time    284
delivery_city_id             0
city_name                    0
state_code                   0
state_name                   0
sales_territory              0
package_type_name            0
dtype: int64

Since I may analyze aspects of the data that don't involve deliveries,</br>
keep rows with missing datetimes in the base table and filter out in summary table(s).

In [482]:
# Check for duplicates index values
print(df.index.duplicated().sum())

0

In [483]:
# Check for entire duplicate rows, excluding index
print(df.duplicated().sum())

0

In [484]:
# Create date and time metric columns

# Extract date components
df['order_mo'] = df['order_date'].dt.month
df['order_yr'] = df['order_date'].dt.year

# Calculate delivery durations
df['cycle_time_days'] = (
    df['confirmed_delivery_time'] - df['order_date']
    ).dt.days.astype('Int64')

df['delivery_variance_days'] = (
    df['confirmed_delivery_time'] - df['expected_delivery_date']
    ).dt.days.astype('Int64')

In [485]:
# Create order volume metric columns, measured at the invoice/order level

# Calculate a metric for order magnitude
df['total_order_qty'] = df.groupby('invoice_id')['quantity'].transform('sum')

# Calculate a metric for order complexity -- defined as number of lines in an order
df['line_item_count'] = df.groupby('invoice_id')['quantity'].transform('count')

# Calculate the average quantity per line within each order
df['avg_qty_per_line'] = (df['total_order_qty'] / df['line_item_count']).round(2)

In [486]:
# Check for outliers in the key metric columns
print(df[[
    'cycle_time_days', 'delivery_variance_days',
    'total_order_qty', 'line_item_count',
    'avg_qty_per_line'
    ]].describe())

       cycle_time_days  delivery_variance_days  total_order_qty  line_item_count  avg_qty_per_line
count         227981.0                227981.0         228265.0         228265.0          228265.0
mean          2.332563                0.882451       144.210733         3.710998         39.211559
std           21.10116               21.114485       113.511605         1.123506         30.130049
min                1.0                    -2.0              1.0              1.0               1.0
25%                1.0                    -1.0             55.0              3.0              16.0
50%                1.0                     0.0            118.0              4.0             33.25
75%                1.0                     0.0            208.0              5.0              55.0
max             1117.0                  1114.0            854.0              5.0             360.0

In [487]:
# Create column to flag outliers in cycle_time_days
# Business Logic: Fulfillment target is 7 days or less; 10 days would be a failure
df['is_high_cycle_outlier'] = df['cycle_time_days'] >= 10.0

In [488]:
# Create 2 columns: flag early deliveries and late deliveries
# Business Logic: Target is 0 days variance; 2 days early is delivery estimation failure, and 3 days late is unacceptable
df['is_delivery_early'] = df['delivery_variance_days'] <= -2.0
df['is_delivery_late'] = df['delivery_variance_days'] >= 3.0

In [489]:
# Create column to flag extreme volume outliers in total_order_qty to adjust for the positive skew
# Imagines there is no business target for this metric, so using statistics to calculate threshold
Q1_qty, Q3_qty = df['total_order_qty'].quantile([0.25, 0.75])
IQR_qty = Q3_qty - Q1_qty
UB_qty = Q3_qty + (3 * (IQR_qty))

df['is_high_volume_outlier'] = df['total_order_qty'] > UB_qty

In [490]:
# Create column to flag outliers in avg_qty_per_line
# Business Logic: Any item order quantity lower than 2 would make handling inefficient enough to be a problem
df['is_low_avg_qty_outlier'] = df['avg_qty_per_line'] < 2.0

SUMMARY OF OUTLIER METHODOLOGY:
- cycle_time, delivery_variance, and avg_qty use Business Logic thresholds (Operational Failure).
- total_order_qty uses 3.0 * IQR (Statistical Discovery) due to lack of a business target and strong positive skew.

In [491]:
print(df[df['is_high_volume_outlier'] == True])

                 invoice_id  stock_item_id  quantity  package_type_id  unit_price  extended_price order_date expected_delivery_date confirmed_delivery_time  delivery_city_id       city_name state_code state_name sales_territory package_type_name  order_mo  order_yr  cycle_time_days  delivery_variance_days  total_order_qty  line_item_count  avg_qty_per_line  is_high_cycle_outlier  is_delivery_early  is_delivery_late  is_high_volume_outlier  is_low_avg_qty_outlier
invoice_line_id
5120                   1603            144        24                7       18.00          496.80 2013-01-31             2013-02-01     2013-02-01 09:30:00             25170    Oconto Falls         WI  Wisconsin     Great Lakes              Each         1      2013                1                       0              703                5             140.6                  False              False             False                    True                   False
5121                   1603            122         7                7       32.00          257.60 2013-01-31             2013-02-01     2013-02-01 09:30:00             25170    Oconto Falls         WI  Wisconsin     Great Lakes              Each         1      2013                1                       0              703                5             140.6                  False              False             False                    True                   False
5122                   1603            202       192                7        4.10          905.28 2013-01-31             2013-02-01     2013-02-01 09:30:00             25170    Oconto Falls         WI  Wisconsin     Great Lakes              Each         1      2013                1                       0              703                5             140.6                  False              False             False                    True                   False
5123                   1603            139       120               10        5.00          690.00 2013-01-31             2013-02-01     2013-02-01 09:30:00             25170    Oconto Falls         WI  Wisconsin     Great Lakes              Pair         1      2013                1                       0              703                5             140.6                  False              False             False                    True                   False
5124                   1603            192       360                7        4.10         1697.40 2013-01-31             2013-02-01     2013-02-01 09:30:00             25170    Oconto Falls         WI  Wisconsin     Great Lakes              Each         1      2013                1                       0              703                5             140.6                  False              False             False                    True                   False
...                     ...            ...       ...              ...         ...             ...        ...                    ...                     ...               ...             ...        ...        ...             ...               ...       ...       ...              ...                     ...              ...              ...               ...                    ...                ...               ...                     ...                     ...
225610                69692            207        96                7        2.70          298.08 2016-05-19             2016-05-20     2016-05-20 07:20:00             26483  Peeples Valley         AZ    Arizona       Southwest              Each         5      2016                1                       0              723                4            180.75                  False              False             False                    True                   False
227398                70247            185       250                7        2.04          586.50 2016-05-27             2016-05-30     2016-05-28 09:05:00             18772          Larose         LA  Louisiana       Southeast              Each         5      2016                1                      -2              702                4             175.5                  False               True             False                    True                   False
227399                70247            196       240                7        4.10         1131.60 2016-05-27             2016-05-30     2016-05-28 09:05:00             18772          Larose         LA  Louisiana       Southeast              Each         5      2016                1                      -2              702                4             175.5                  False               True             False                    True                   False
227400                70247             79        12                7       18.00          248.40 2016-05-27             2016-05-30     2016-05-28 09:05:00             18772          Larose         LA  Louisiana       Southeast              Each         5      2016                1                      -2              702                4             175.5                  False               True             False                    True                   False
227401                70247            180       200                7        1.11          255.30 2016-05-27             2016-05-30     2016-05-28 09:05:00             18772          Larose         LA  Louisiana       Southeast              Each         5      2016                1                      -2              702                4             175.5                  False               True             False                    True                   False

[203 rows x 27 columns]